<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mj.dao.repository.PersonnelsMapper">
    <resultMap id="BaseResultMap" type="com.mj.dao.entity.Personnel">
        <id column="ID" jdbcType="INTEGER" property="id" />
        <result column="UserName" jdbcType="VARCHAR" property="username"/>
        <result column="Sex" jdbcType="VARCHAR" property="sex" />
    </resultMap>
    <!--自定义-->
    <!--查找城市-->
    <select id="selectAlls" resultMap="BaseResultMap">
        select * from Personnel
    </select>
</mapper>